# Ignore Excel files
**/*.xls
**/*.xlsx


*.xlsx
*.xls

# Ignore Jupyter notebooks
**/*.ipynb

**/*.pyc

**/.ipynb_checkpoints/

*.ipynb_checkpoints/

# Ignore __pycache__ directories
**/__pycache__/


**/*.db
*.db